* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.logo {
  width: 100px;
}

header {
  position: absolute;
  z-index: 99999;
  width: 100%;
  padding: 0.9rem 0;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header ul a {
  text-decoration: none;
  color: #fff;
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.83rem;
}

.search a {
  font-size: 1.05rem;
  padding: 0 3rem;
}

.hamburger {
  padding-left: 1.5rem;
}

.hamburger a {
  padding: 0;
  width: 37px;
  height: 37px;
  display: flex;
  border-radius: 50%;
  background-color: rgba(115, 115, 115, 0.7);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
}

.hamburger .bar {
  position: relative;
  width: 52%;
  height: 1.3px;
  background-color: #fff;
  border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 60%;
  height: 100%;
  transform: translateX(-50%);
  background-color: inherit;
  border-radius: 2px;
}

.hamburger .bar::before {
  top: -4.5px;
}

.hamburger .bar::after {
  top: 4.5px;
}
/* NAVBAR */

/* LAYERS */

$multiplier: 3;

.hero-section {
  position: relative;
  background-color: #ecf4e9;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.parallax {
  /* position: absolute; */
  pointer-events: none;
  /* transform: translate(-50%, -50%); */
  transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

// property screens
$small: 575px;
$medium: 786px;

.sky-0 {
  position: absolute;
  z-index: 1;
  width: 1437px;
  top: 0;
  left: 0;

  @media screen and (max-width: $small) {
    width: 140%;
  }
}

.cloud-1 {
  position: absolute;

  z-index: 2;
  width: 1439px;
  top: 97px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-width: $small) {
    width: 250%;
    top: 10% !important;
  }
}

.cloud-2 {
  position: absolute;
  z-index: 3;
  top: 100px;
  left: 0;
  width: 1439px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-width: $small) {
    width: 190%;
    top: 10% !important;
  }
}

.mountain-3 {
  z-index: 4;
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
  width: 1439px;

  @media screen and (max-width: $small) {
    width: 190%;
    top: 29% !important;
  }

  @media screen and (max-width: $small) and (max-height: 1000px) {
    top: 31% !important;
  }

  @media screen and (max-width: $small) and (max-height: 820px) {
    width: 160%;
    top: 30% !important;
  }
}

.mountain-4 {
  z-index: 5;
  position: absolute;
  top: 310px;
  left: 0;
  width: 1439px;

  @media screen and (max-width: $small) {
    width: 190%;
    top: 38% !important;
  }
}

.mountain-5 {
  z-index: 6;
  position: absolute;
  top: 450px;
  left: 0;
  width: 1440px;

  @media screen and (max-width: $small) {
    width: 190%;
    top: 48% !important;
  }
}

.river-6 {
  z-index: 7;
  position: absolute;
  top: 530px;
  left: 680px;
  width: 187px;

  @media screen and (max-width: $small) {
    width: 58%;
    top: 52% !important;
    left: 12%;
  }
}

.snow-7 {
  z-index: 8;
  position: absolute;
  top: 75px;
  left: 45px;
  width: 1419px;
}

.name {
  position: absolute;
  z-index: 9;
  top: 340px;
  left: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    font-size: 100px;
    font-weight: 100;
    line-height: 150px;
  }

  h1 {
    font-size: 150px;
    font-weight: 700;
    line-height: 100px;
  }

  .snow-11 {
    position: absolute;
    z-index: 12;
    top: 180px;
    left: 0;
    width: 1404px;
  }

  .snow-16 {
    position: absolute;
    z-index: 17;
    bottom: 40px;
    left: -10px;
    width: 1440px;
  }

  // @media screen and (max-width: 1920px) {
  //   top: 30%;
  // }

  @media screen and (min-height: 759px) {
    top: 30%;
  }

  @media screen and (max-height: 759px) {
    top: 10%;
    h1 {
      text-shadow: 8px 7px 8px rgba(0, 0, 0, 0.5);
    }
    h2 {
      text-shadow: 8px 7px 8px rgba(0, 0, 0, 0.5);
    }
  }

  @media screen and (max-width: $small) {
    top: 40%;
    h1 {
      font-size: 60px;
      line-height: 2;
    }

    h2 {
      font-size: 40px;
      line-height: 0;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
      font-weight: 300;
    }
  }

  @media screen and (max-height: 360px) {
    top: 30%;
    text-shadow: 8px 7px 8px rgba(0, 0, 0, 0.5);
  }
}

.mountain-9 {
  position: absolute;
  z-index: 10;
  top: 258px;
  right: 0;
  width: 662px;

  // @media screen and (max-width: 1920px) {
  //   top: 148px;
  //   // width: 662px * 1.35;
  //   width: 46%;
  // }

  // @media screen and (max-width: 1669px) {
  //   top: 198px !important;
  //   // width: 662px * 1.35;
  //   width: 40%;
  // }
  @media screen and (max-width: $medium) {
    width: 90%;
    top: 38% !important;
    right: -5%;
  }

  @media screen and (max-width: $small) {
    width: 90%;
    top: 58% !important;
    right: -5%;
  }
}

.mountain-10 {
  position: absolute;
  z-index: 11;
  width: 788px;
  left: 0;

  // @media screen and (max-width: 1920px) {
  //   top: -22px;
  //   left: 0;
  //   // width: 788px * 1.35;
  //   width: 55%;
  // }

  // @media screen and (max-width: 1669px) {
  //   top: 156px;
  //   left: 0;
  //   width: 46%;
  // }
  @media screen and (max-width: $medium) {
    width: 78%;
    top: 45% !important;
    left: 0;
  }

  @media screen and (max-width: $small) {
    width: 78%;
    top: 65% !important;
    left: 0;
  }

  @media screen and (max-width: $small) and (max-height: 1000px) {
    width: 150%;
  }

  @media screen and (max-width: $small) and (max-height: 820px) {
    width: 100%;
    top: 57% !important;
  }
}

.snow-11 {
  position: absolute;
  z-index: 12;
  top: 180px;
  left: 0;
  width: 1404px * 1.4;
}

.forest-12 {
  position: absolute;
  z-index: 13;
  right: 480px;
  width: 603px;

  // @media screen and (max-width: 1920px) {
  //   bottom: 0;
  //   right: 0;
  //   // width: 603px * 1.2;
  //   width: 50%;
  // }
  @media screen and (max-width: $medium) {
    width: 78%;
    bottom: 0;
    right: 0;
  }

  @media screen and (max-width: $small) {
    width: 78%;
    bottom: 0;
    right: 0;
  }
}

.portfolio {
  position: absolute;
  left: 0;
  font-size: 80px;
  font-weight: 500;
  color: #e4e4e4;
  width: 100%;
  text-align: center;
  bottom: 10%;
  z-index: 16;

  // @media screen and (max-height: 759px) {
  //   z-index: 14;
  //   bottom: 35%;
  // }
  // @media screen and (max-height: 600px) {
  //   top: 50%;
  // }

  // @media screen and (max-height: 710px) {
  //   top: 45%;
  // }

  // @media screen and (max-height: 705px) {
  //   bottom: 10%;
  //   z-index: 16;
  // }

  @media screen and (min-height: 325px) and (max-height: 700px) {
    top: 55% !important;
    font-size: 40px;
    text-shadow: 8px 7px 8px rgba(0, 0, 0, 0.5);
  }

  @media screen and (max-width: $small) {
    top: 51%;
    font-size: 40px;
    text-shadow: 8px 7px 8px rgba(0, 0, 0, 0.5);
  }
}

.forest-14 {
  position: absolute;
  z-index: 15;
  bottom: -50px;
  left: 0;
  width: 1112px;

  // @media screen and (max-width: 1920px) {
  //   bottom: 0;
  //   left: 0;
  //   // width: 1112px * 1.15;
  //   width: 71%;
  // }

  @media screen and (max-width: $medium) {
    width: 106%;
    right: 0;
    bottom: 0;
  }

  @media screen and (max-width: $small) {
    width: 100%;
    right: 0;
    bottom: 0;
  }

  @media screen and (max-width: $small) and (max-height: 1000px) {
    width: 150%;
  }

  @media screen and (max-width: $small) and (max-height: 820px) {
    width: 100%;
  }
}

.trees-15 {
  position: absolute;
  z-index: 16;
  bottom: 0;
  left: 50%;
  width: 1437px;
  transform: translateX(-50%);

  // @media screen and (max-width: 1920px) {
  //   bottom: 0;
  //   left: 50%;
  //   // width: 1437px * 1;
  //   width: 90%;
  //   transform: translateX(-50%);
  // }

  @media screen and (max-width: $medium) {
    width: 110%;
  }

  @media screen and (max-width: $small) {
    width: 110%;
  }
}

.snow-16 {
  position: absolute;
  z-index: 17;
  bottom: 40px;
  left: -10px;
  width: 1440px * 1;
}

@media screen and (max-width: 1920px) {
  // .sky-0 {
  //   width: 1437px * 1.4;
  //   left: 50%;
  //   top: -90px;
  //   transform: translateX(-50%);
  // }

  // .cloud-1 {
  //   position: absolute;

  //   z-index: 2;
  //   width: 1439px * 1.4;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  // .cloud-2 {
  //   position: absolute;
  //   z-index: 3;
  //   top: 0px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   width: 1439px * 1.4;
  // }

  // .mountain-3 {
  //   z-index: 4;
  //   position: absolute;
  //   top: 190px;
  //   width: 1439px * 1.4;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  // .mountain-4 {
  //   z-index: 5;
  //   position: absolute;
  //   top: 280px;
  //   width: 1439px * 1.4;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  // .mountain-5 {
  //   z-index: 6;
  //   position: absolute;
  //   top: 390px;
  //   width: 1440px * 1.4;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  // .river-6 {
  //   z-index: 7;
  //   position: absolute;
  //   top: 505px;
  //   left: 910px;
  //   width: 187px * 1.4;
  // }

  // .snow-7 {
  //   z-index: 8;
  //   position: absolute;
  //   top: 75px;
  //   left: 0;
  //   width: 1419px * 1.4;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  // .name {
  //   position: absolute;
  //   z-index: 9;
  //   top: 340px;
  //   left: 0;
  //   /* transform: translateX(-50%); */
  //   color: #fff;
  //   text-transform: uppercase;
  //   text-align: center;
  //   display: flex;
  //   flex-direction: column;
  //   width: 100%;
  // }

  // .name h2 {
  //   font-size: 100px;
  //   font-weight: 100;
  //   line-height: 150px;
  // }

  // .name h1 {
  //   font-size: 150px;
  //   font-weight: 700;
  //   line-height: 100px;
  // }
  // .mountain-9 {
  //   position: absolute;
  //   z-index: 10;
  //   top: 148px;
  //   right: 0;
  //   width: 662px * 1.35;
  // }

  // .mountain-10 {
  //   position: absolute;
  //   z-index: 11;
  //   top: -44px;
  //   left: 0;
  //   width: 788px * 1.35;
  // }

  // .snow-11 {
  //   position: absolute;
  //   z-index: 12;
  //   top: 180px;
  //   left: 0;
  //   width: 1404px * 1.4;
  // }

  // .forest-12 {
  //   position: absolute;
  //   z-index: 13;
  //   bottom: -70px;
  //   right: 0;
  //   width: 603px * 1.2;
  // }

  // .portfolio {
  //   position: absolute;
  //   z-index: 14;
  //   top: 600px;
  //   left: 0;
  //   font-size: 80px;
  //   font-weight: 500;
  //   color: #e4e4e4;
  //   width: 100%;
  //   text-align: center;
  // }

  // .forest-14 {
  //   position: absolute;
  //   z-index: 15;
  //   bottom: -10px;
  //   left: 0;
  //   width: 1112px * 1.15;
  // }

  // .trees-15 {
  //   position: absolute;
  //   z-index: 16;
  //   bottom: -100px;
  //   left: 50%;
  //   width: 1437px * 1;
  //   transform: translateX(-50%);
  // }

  // .snow-16 {
  //   position: absolute;
  //   z-index: 17;
  //   bottom: 40px;
  //   left: -10px;
  //   width: 1440px * 1;
  // }
}

#snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 99999;
  // background-color: red;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

.container {
  overflow: hidden;
}
/* LAYERS */
